<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	{% block meta %}<!-- block meta -->{% endblock %}
	<title>{% block title %} ? {% endblock %} - Dean's Web Site</title>
	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/uikit.min.js"></script>
	<script src="/static/js/dean.js"></script>
	{% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body class="uk-height-1-1">
	
	{% block nav %}
	<!-- nav -->
	<!-- // nav -->

	{% endblock %}

	{% block content %}
	<!-- content -->
	<!-- // content -->

	{% endblock %}

	{% block footer %}
	<!-- footer -->
	<!-- // footer -->
	{% endblock %}
</body>
</html>
