{% extends '__base__.html' %}

{% block nav %}
<div class='uk-navbar uk-navbar-attached uk-margin-large-bottom'>
	<div class='uk-container uk-container-center'>
		<a href='/' class='uk-navbar-brand'>Dean的小站</a>
		<ul class='uk-navbar-nav'>
			<li><a href='/home'><i class='uk-icon-home'></i>主页</a></li>
			{% if author %}
			<li><a href='/list/{{author.id}}'><i class='uk-icon-home'></i>列表</a>
			{% if user and user.id == author.id %}
			<li><a href='/manage/blog'><i class='uk-icon-home'></i>管理</a>
			{% endif %}
			{% endif %}
		</ul>
		<div class='uk-navbar-flip'>
			<ul class='uk-navbar-nav'>
			{% if user %}
				<li class='uk-parent' data-uk-dropdown>
					<a href='#0'><i class='uk-icon-user'></i>{{user.name}}</a>
					<div class='uk-dropdown uk-dropdown-navbar'>
						<ul class='uk-nav uk-nav-navbar'>
							<li><a href='javascript:void(0);' onclick='logout()'><i class='uk-icon-sign-out'></i>登出</a></li>
						</ul>
					</div>
				</li>
			{% else %}
				<li><a href='/signin'><i class='uk-icon-sign-in'></i>登陆</a></li>
			{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
<div class = 'uk-container uk-container-center'>
	<div class='uk-grid' data-uk-grid-margin>
		{% block main_content %}
		<p> Test in block insert block </p>
		{% endblock %}
	</div>
</div>
{% endblock %}

{% block footer %}
<div class='uk-margin-large-top' style='background-color:#eee; border-top:1px solid #ccc;'>
	<div class='uk-container uk-container-center uk-text-center'>
		<div class='uk-panel uk-margin-top uk-margin-bottom'>
			<p><a href='#' class='uk-icon-button uk-icon-github'></a></p>
			<p>Powered by ToyToolkit. Copyright &copy; 2017</p>
			<p><a href='/' target='_blank'>www.test.com</a>. All rights reserved.</p>
			<i class='uk-icon-html5' style='font-size:64px; color; #444;'></i>
		</div>
	</div>
</div>
{% endblock %}
