{% extends 'user.html' %}

{% block title %}编辑日志{% endblock %}
{% block beforehead %}
	<!-- Codemirror 和 marked 依赖 -->
	<link rel='stylesheet' href='/static/vendor/codemirror.css' />
	<script src='/static/vendor/codemirror.js'></script>
	<script src='/static/vendor/marked.js'></script>

	<!-- HTML 编辑器的 CSS 与 JavaScript  -->
	<link rel='stylesheet' href='/static/css/components/htmleditor.css' />
	<script src='/static/js/components/htmleditor.js'></script>
	<script>
		var editor;
		function validate_blog( blog ){
			blog.content.value = editor.currentvalue;
			return true;
		}
		$(function(){
			editor = UIkit.htmleditor('#editor',{markdown:true});
		});
	</script>
{% endblock %}

{% block blog_content %}
<ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switch-1'}">
	<li><a href="#">文章管理</a></li>
	<li><a href="#">目录管理</a></li>
	<li><a href="#">新日志</a></li>
</ul>
<ul id="switch-1" class="uk-switcher">
	<li>目录管理页面还没有想好</li>
	<li>文章管理页面有点头绪</li>
	<li>
	<div class='uk-grid uk-margin-small-top' data-uk-grid-margin>
		<div class='uk-width-1-1'>
			<form method='post' action='/api/blog/save{% if blog %}/{{blog.id}}{% endif %}' class='uk-form uk-form-stacked' onsubmit='return validate_blog(this);'>
				<div class='uk-form-row'>
					<input name='title' class="uk-width-1-1" placeholder='标题' {%if blog %}value='{{blog.title}}'{% endif %} />
				</div>
				<div class="uk-form-row">
					<div class="uk-form-controls">
						<textarea name='summary' rows="4" class="uk-width-1-1" placeholder='简介'>{% if blog %}{{blog.summary}}{% endif %}</textarea>
					</div>
				</div>
				<div class='uk-form-row'>
					<textarea id='editor'></textarea>
					<textarea name="content"style="display:none"></textarea>
				</div>
				<div class="uk-form-row">
					<button class="uk-button uk-button-primary">保存</button>
				</div>
			</form>
		</div>
	</div>
	</li>
</ul>
{% endblock %}
