{% extends "__base__.html" %}

{% block title %}登录{% endblock %}

{% block content %}
<div class="uk-vertical-align uk-text-center uk-height-1-1">
	<div class="uk-vertical-align-middle" style="width: 250px;">
		<p style='color:red' id='err_info'></p>
		<form action='/api/signin' method='post' class="uk-panel uk-panel-box uk-form">
			<h1 class="uk-panel-title uk-text-left"> 用户登陆 </h1>
			<hr>
			<div class="uk-form-row">
				<input name='username' class="uk-form-large" placeholder="Username" />
			</div>
			<div class="uk-form-row">
				<input name='password' class="uk-form-large" placeholder="Password" type='password' />
			</div>
			<div class="uk-form-row">
				<input type='button' onclick="return check(this.form)" class="uk-button uk-button-primary uk-button-large" value='登录'>
			</div>
		</form>
	</div>
</div>
{% endblock %}
